node_modules
dist
out
.DS_Store
.eslintcache
.env
.env.local
.env.*.local
.auth0*
auth0-variables.json
localization/.vscode
localization/.vs
localization/packages
localization/*.lnk
localization/*.zip
buildDate.json
env-config/env-files*.zip
src/renderer/index.html
*.log*
src/renderer/dist
src/renderer/node_modules
**/obj
**/bin
