node_modules
dist
dist-electron
release
.DS_Store
.eslintcache
.env
.env.local
.env.*.local
.auth0*
auth0-variables.json
localization/.vscode
localization/.vs
localization/packages
localization/*.lnk
localization/*.zip
buildDate.json
env-config/env-files*.zip
web/index.html
*.log*
web/dist
web/node_modules
web/cypress/downloads
**/obj
**/bin
migration-data
tmp-burrito
errorLog
tsconfig.tsbuildinfo
*.tsbuildinfo
.claude
*.lscache
playwright-results
playwright-report
